/* .sidebar{
    flex: 10;
    height: calc(100vh - 50px);
    background-color :rgb(251, 251, 255);
    position: sticky;
    top: 50px;
} */
.sidbarWrappper{
    padding: 20px;
    color: #555;
}
.sideBarMenu{
    margin-bottom: 15px;
}
.sidbarTitle{
    font-size: 13px;
    color:gray;
}
.sidebarliste{
    list-style: none;
    padding: 5px;
}
.sidbarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.sidbarListItem .active,
.sidbarListItem:hover{
    background-color: rgb(240, 240, 255);
}
.sidebarIcon{
    margin-right: 5px;
    font-size: 30px;
}